<div class="center">
  <h3>Nouvel *Utilisateur</h3>
  <div [hidden]="submitted">
    <form (ngSubmit)="createUser()">
      <div class="formGroup">
        <mat-form-field>
          <input matInput placeholder="Matricule" [(ngModel)]="user.matricule" name="matricule" required>
        </mat-form-field>
      </div>
      <div class="formGroup">
        <mat-form-field>
          <input matInput placeholder="Nom" [(ngModel)]="user.lastName" name="lastName" required>
        </mat-form-field>
      </div>
      <div class="formGroup">
        <mat-form-field>
          <input matInput placeholder="Prénom" [(ngModel)]="user.firstName" name="firstName" required>
        </mat-form-field>
      </div>
      <div class="formGroup">
        <mat-form-field>
          <mat-select placeholder="Fonction" [(ngModel)]="user.function" name="function" required>
            <mat-option *ngFor="let function of functions" [value]="function">
              {{function}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="formGroup">
        <mat-form-field>
          <input matInput placeholder="Téléphone" [(ngModel)]="user.phone" name="phone">
        </mat-form-field>
      </div>
      <div [hidden]="valid">
        <p class="error">Erreur lors de la validation du formulaire veuillez remplir les champs requis</p>
      </div>
      <div [hidden]="!error">
        <p class="error">Erreur lors de la validation du formulaire, un utilisateur avec ce matricule existe déjà</p>
      </div>
      <p>* Champs requis</p>
      <div class="buttonGroup">
        <button mat-raised-button type="submit">Valider</button>
        <button mat-raised-button routerLink="back">Annuler</button>
      </div>
    </form>
  </div>

  <div [hidden]="!submitted">
    <div class="formGroup">
      <h4>Création du Message réussi</h4>
    </div>
    <div class="button-group">
      <button mat-raised-button (click)="reload()">Nouveau Message</button>
      <button mat-raised-button routerLink="back">Liste des Messages</button>
    </div>
  </div>
</div>
