<div class="center">
  <h1>Séléction de la Tournée</h1>
  <mat-table #table [(dataSource)]="dataSource">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Clicker pour avoir les messages</mat-header-cell>
      <mat-cell *matCellDef="let tour" routerLink="{{tour.id}}"> {{ tour.name }} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [length]="5" [pageSize]="10" [pageSizeOptions]="[10, 20, 30]">
  </mat-paginator>
  <div *ngIf="selectedTour">
    <h2>{{ selectedTour.name | uppercase }} Details</h2>
    <label>name:
      <input [(ngModel)]="selectedTour.name" placeholder="name">
    </label>
  </div>
</div>
