<H1 class = "center" >Liste des messages</H1>
<div class="example-container">
  <div class = "center">    
    <button class="btn" routerLink="create"><i class="material-icons">add</i>Nouveau Message</button>
  </div>
  <mat-table #table [(dataSource)]="dataSource">
    <ng-container matColumnDef="createdAt">
      <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
      <mat-cell *matCellDef="let message"> {{ message.createdAt}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="tour.name">
      <mat-header-cell *matHeaderCellDef> Tournée </mat-header-cell>
      <mat-cell *matCellDef="let message"> {{ message.tour.name}} </mat-cell>
    </ng-container><ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
        <mat-cell *matCellDef="let message"> {{ message.type}} </mat-cell>
      </ng-container>
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> Titre </mat-header-cell>
      <mat-cell *matCellDef="let message"> {{ message.title}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let message">
        <button class="btn" routerLink="{{message.id}}"><i class="material-icons">create</i></button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let message">
        <button class="btn" (click)="onDelete(message.id)"><i class="material-icons">clear</i></button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [length]="5" [pageSize]="10" [pageSizeOptions]="[10, 20, 30]">
  </mat-paginator>
