<div class="center">
    <br>
    <br>
  <H1 class="h3 mb-3 font-weight-normal">CONNEXION</H1>
  <form (ngSubmit)="onSignIn()" class="form-signin">
    <mat-form-field>
      <input matInput type="text" placeholder="IDENTIFIANT" required [(ngModel)]="userForm.matricule" name="matricule">
    </mat-form-field>
    <br>
    <br>
    <mat-form-field>
      <input matInput type="password" placeholder="MOT DE PASSE" required [(ngModel)]="userForm.password" name="password">
    </mat-form-field>
    <br>
    <br>
    <button mat-raised-button type="submit">Connexion</button>
  </form>
</div>
<body>

</body>